# Dependencies
node_modules/

# Environment
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
MCSRdiscordBot.zip

# Runtime cache
src/data/cache/
data/cache/profile_cache.json


./src/data/daily.json
./src/data/paceman_whitelist.json
